# Ignore Mac system files
.DS_store

# Ignore all .pdf files
*.pdf

# Ignore __pycache__ file
__pycache__

# Ignore .egg-info
*.egg-info

# Data envelopes directory (which contains .npz files)
real_data_experiments/2_data_envelopes/

# Temporary files
*tmp.py